<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="JdbcTestMapper">
  <select id="findAll" resultType="java.util.Map">
    select no, title, regdt, vwcnt from jdbc_test
  </select>
  <insert id="insert" parameterType="java.util.Map">
    insert into jdbc_test(title,conts,regdt)
    values(#{title},#{contents},now())
  </insert>
  <update id="update" parameterType="java.util.Map">
    update jdbc_test set title=#{title}, conts=#{conts} where no=#{no}
  </update>
  <delete id="delete" parameterType="int">
    delete from jdbc_test where no=#{value}
  </delete>
  
  <select id="findByNo" resultType="java.util.Map" parameterType="int">
    select * from jdbc_test where no=#{value}
  </select>

</mapper>