<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  <environments default="development">
  
  <!-- 사용할 DBMS 연결 정보 -->
    <environment id="development">
    <!-- 트렌잭션(데이터를 변경하는 여러 SQL문을 한 단위로 다루기위해 묶어 놓은 것)을 어떻게 관리할 것인지 설정한다.  -->
      <transactionManager type="JDBC"/>
      <dataSource type="POOLED">
        <property name="driver" value="com.mysql.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://localhost:3306/studydb"/>
        <property name="username" value="user"/>
        <property name="password" value="1111"/>
      </dataSource>
    </environment>
  </environments>
  <mappers>
    <mapper resource="stp3//JdbcTestMapper.xml"/>
  </mappers>
</configuration>